html {
	margin: 0;
	padding: 0;
}

body {
	font-family:monospace;
	font-size:3.3vw;
	margin: 0;
	padding:10vw;
	background:#000;
	color:#FFF;
	position: relative;
}

p {
	line-height:1.5;
}

.nofuck {
	display: inline-block;
	background-color: rgba(0,0,0,.5);
	padding: 2px;
}

#dustholder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
}

/*DUST*/
.dust {
	position: absolute;
	z-index: -1;
	background-size: 100%;
	background-repeat: no-repeat
}

@media (min-width: 800px) {
	body {
		font-size:2vw;
	}
}
